/* HTML reset */
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

/* site */

header {
    background: yellow;
}

header > nav {
    padding: 1rem;
    text-align: center;
}

header > nav li {
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
}

header > nav li:hover {
    background: black;
    color: white;
    cursor: pointer;
}

footer {
    background: black;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
}

footer > .copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
}

.content-layout {
    height: 100%;
    position: relative;
    margin: 1rem 0;
}

.content {
    padding: 3rem 20vw;
}


.background {
    width: 100%;
    height: 100%;
    background-image: url('./imgs/tulips1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
}

